@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", sans-serif;
}

p{
    font-size: 1rem;
    line-height: 1.9rem;
}

h1, h2, h3, h4, h5, h6, strong{
    color: #000000;
}

p, span, label, input, textarea, li, a{
    color: #222222;
}

a{
    text-decoration: none;
}

.main-container, .home-container, .myskill-container, .message-container, .footer-container{
    margin: 0 20px;
}

/* end of preparation */

/* Titles */
.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}
  
.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}
  
.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: #222222;
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/* end of titles */

.main-container{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 75px;
    height: 75px;
}

nav ul{
    list-style: none;
    display: flex;
    padding: 2rem 0;
    gap: 3rem 0;
}

li a{
    margin: 5px;
    padding: 20px;
    /* border: 1px solid black; */
}

li a:hover{
    background-color: #ffad05;
}

#home{
    background-color: #F3F3F3;
}

.home-container{
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name{
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
}

.hero-name #owner-name{
    color: #ffad05;
}

.hero-right{
    display: flex;
    justify-content: center;
}

.hero-right img{
    width: 90%;
}